* {
    font-family: 'Roboto', sans-serif;
}

.section {
    padding: 0 10% 0 10%;
}

.header,
.footer,
.hero {
    background-color: #1F2937;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero .secondary,
.header .link {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.hero .main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.btn,
.call-action {
    background-color: #3882F6;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.flex-container {
    display: flex;
    /* flex-direction: column */
}

.flex-item {
    flex: 1;
}

.center {
    padding: 0 10% 0 10%;
}

.header {
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.link {
    margin-left: 10px;
}

.header-right {
    flex-grow: 4;
    text-align: right;
}

.btn {
    border-radius: 5px;
    height: 32px;
    padding: 0px 30px 0px 30px;
    margin-top: 5px;
    border: 0px;
}

.hero {
    padding-top: 125px;
    padding-bottom: 125px;
}

.hero .placeholder {
    background-color: #6D747D;
    flex: 1;
}

.hero .hero-right {
    align-items: center;
    text-align: center;
    background-color: #6D747D;
}

.hero .hero-left {
    padding-right: 50px;
}

.hero .main, .hero .secondary {
    margin-bottom: 10px;
}

.info {
    text-align: center;
    flex-direction: column;
}